@page "/Employees"
@using HR.SDK.Endpoints;
@inject HRApiClient _hrClient

<PageTitle>Employees</PageTitle>

<h2>Employees List</h2>

<div class="border p-3">
    <div class="list-group w-50">
        <a href="/Employees/70d39037-01be-44ce-e707-08db76f78243" class="list-group-item list-group-item-action">
            The current link item
        </a>
        <a href="/Employees/33d494e4-dcb9-4d5d-e706-08db76f78243" class="list-group-item list-group-item-action">A second link item</a>
        <a href="/Employees/8f28cf3d-7b0d-4389-e705-08db76f78243" class="list-group-item list-group-item-action">A third link item</a>
    </div>
</div>